body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "Hiragino Sans" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , sans-serif;
}

.yubinavi_version {
	position: absolute;
	top: 2px;
	right: 4px;
	font-size: 8px;
	color: black;
}

.yubinavi_production_banner {
	margin: 0;
	font-size:1.6em;
	color: white;
	padding: 0px 0px 0px 7px;
	background-color: gray;
	background-image: url("https://44011.brave-hero.net/manager/img/mlsmanager-icon.png"), url("https://44011.brave-hero.net/manager/img/background-season2.jpg");
	background-position: right bottom, 0;
	background-repeat: no-repeat, repeat-x;
	background-size: contain, contain;
	/* animation: yubinavi_production_banner_s8_grad 32s ease infinite; */
	/* background: linear-gradient(151deg, #6db9ca, #0b0b61, #60e3e7);
	 background: linear-gradient(153deg, #ff4f40, #e7803f, #9F81F7);
	background-size: 600% 600%;
	-webkit-animation: yubinavi_production_banner_grad 32s ease infinite;
	-moz-animation: yubinavi_production_banner_grad 32s ease infinite;
	animation: yubinavi_production_banner_grad 32s ease infinite; */
}

.tabswitch {
	background-color: white;
	font-size: 16px;
	padding: 1.5px 10px;
	margin: 0px 10px 0 0;
	color: black;
	border-radius: 3px;
	text-align: center;
	display: inline-block;
}

h3{
	margin: 0px;
	padding: 0px;
}

.tabbox {
	min-height: 70px;
	overflow: auto;
	clear: left;
}

.eventtext {
	background-color: #b0c4de;
	border-radius: 2px;
	color: black;
	font-size: 14px;
	margin: 6px 10px;
	padding: 6px;
}

.userinfo {
	background-color: white;
	border: 3px solid;
	border-radius: 2px;
	width: 100%;
	color: black;
	font-size: 14px;
	margin: 6px 10px;
	padding: 6px;
	display: flex;
}

.userinfo_username {
	margin: 0 40px 0 30px;
	max-width: 100px;
}

.userinfo_detailinfo {
	margin: 0 auto 0 30px;
	max-width: 100px;
}